{##
 # Banner images list & upload
 #
 # @ListChild (list="crud.brandslogo.formFooter", zone="admin", weight="200")
 #}

<div class="brands-logo-images">
    {{ widget('\\XLite\\Module\\JThemesStudio\\The80sMod\\View\\ItemsList\\BrandsLogoItems') }}
</div>
