{##
 # Overlapping box
 #}
{% if this.isQuickLookEnabled() %}
  <div class="quicklook">
    <a
            href="{{ this.getProductURL(this.categoryId) }}"
            class="quicklook-link quicklook-link-{{ this.product.product_id }} quicklook-link-category-{{ this.categoryId }}">
      <div class="quicklook-view"></div>
    </a>
  </div>
{% endif %}
