{##
 # Products list (list variant)
 #
 # @ListChild (list="itemsList.product.grid.customer.info", weight="40")
 # @ListChild (list="itemsList.product.list.customer.info", weight="21")
 #}

<div class="product-price-contaner">
    {{ widget_list('product.price.container') }}
</div>
