{##
 # Header logo
 # @ListChild (list="store.info.footer", weight="200")
 #}

{% if this.config.JThemesStudio.The80sMod.typeC_store_text %}
<p>
    {{ this.config.JThemesStudio.The80sMod.typeC_store_text }}
</p>
{% endif %}
