<div class="row">
    <div class="bottom-info-container{% if not this.config.JThemesStudio.The80sMod.type2_bottom_banners_enable %} nobanners{% endif %}">
        {{ widget_list('welcome.small.banners.block') }}
    </div>
</div>


