{##
 # Product details information block
 #
 # @ListChild (list="product.details.page", weight="37")
 #}
<div id="sidebar-second" class="column sidebar">
    <div class="section">
        <div class="list-container" data-group="sidebar">
            {{ widget_list('product.details.page.related') }}
        </div>
    </div>
</div>
