.mm-menu .mm-navbar .mm-title {
    color: #fff;
}

.pagination-rotator .owl-theme .owl-controls {
    width: 100%;
    position: relative;
    height: auto;
    top: auto;
    right: auto;
    padding: 30px 0 0;
}

.pagination-rotator .owl-theme .owl-controls .owl-pagination {
    display: -webkit-box;
    display: -mox-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}

.pagination-rotator .owl-theme .owl-controls .owl-pagination .owl-page {
    display: inline-block;
    border: 2px solid #fff;
    vertical-align: middle;
    height: 14px;
    width: 14px;
    margin: 5px;
    position: relative;
}

.dark-elements.pagination-rotator .owl-theme .owl-controls .owl-pagination .owl-page {
    border-color: #000;
}

.pagination-rotator .owl-theme .owl-controls .owl-pagination .owl-page:before {
    content: '';
    background-color: #fff;
    bottom: 0;
    height: 6px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: middle;
    width: 6px;
    opacity: 0;
    transition: opacity 200ms ease 0s;
    -webkit-transition: opacity 200ms ease 0s;
}

.dark-elements.pagination-rotator .owl-theme .owl-controls .owl-pagination .owl-page:before {
    background-color: #000;
}

.pagination-rotator .owl-theme .owl-controls .owl-pagination .owl-page:hover:before,
.pagination-rotator .owl-theme .owl-controls .owl-pagination .owl-page.active:before {
    opacity: 1;
}