{##
 # Header
 #
 # @ListChild (list="subscribe.banners", weight="100")
 #}

<div class="subscribe-img">
    {% if this.config.JThemesStudio.The80sMod.type1_bottom_banner1_img != '' %}
    <img alt="" src="{{ this.config.JThemesStudio.The80sMod.type1_bottom_banner1_img }}" />
    {% endif %}
    <div class="info-content">
        <div>
            <div>
                {% if this.config.JThemesStudio.The80sMod.type1_bottom_banner1_title != '' %}
                <h2>
                    {% if this.config.JThemesStudio.The80sMod.type1_bottom_banner1_link != ''%}
                    <a href="{{ this.config.JThemesStudio.The80sMod.type1_bottom_banner1_link }}">
                    {% endif %}

                        {{ this.config.JThemesStudio.The80sMod.type1_bottom_banner1_title }}

                    {% if this.config.JThemesStudio.The80sMod.type1_bottom_banner1_link != ''%}
                    </a>
                    {% endif %}
                </h2>
                {% endif %}
                {% if this.config.JThemesStudio.The80sMod.type1_bottom_banner1_text != '' %}
                <p>{{ this.config.JThemesStudio.The80sMod.type1_bottom_banner1_text }}</p>
                {% endif %}
            </div>
        </div>
    </div>

</div>
