{##
 # Footer
 #
 # @ListChild (list="store.info.footer", weight="230")
 # @ListChild (list="welcome.contacts.info", weight="50")
 #}

<div class="footer_contacts">
    {{ widget('XLite\\Module\\JThemesStudio\\The80sMod\\View\\Contacts') }}
</div>
