{##
 # Header
 #
 # @ListChild (list="welcome.small.banners.block", weight="100")
 #}

<div class="horizontal-banners-container clearfix">
    {{ widget_list('welcome.small.banners.horizontal') }}
</div>