{##
 # Header
 #
 # @ListChild (list="welcome.small.banners.horizontal", weight="100")
 #}

<div class="horizontal-block">
    {% if this.config.JThemesStudio.The80sMod.type2_bottom_hbanner1_image %}
        <img src="{{ this.config.JThemesStudio.The80sMod.type2_bottom_hbanner1_image }}" alt="" />
    {% endif %}
    <div class="text-content">
        <div>
            <div>
                {% if this.config.JThemesStudio.The80sMod.type2_bottom_hbanner1_text_link != '' %}
                <h2>

                    {% if this.config.JThemesStudio.The80sMod.type2_bottom_hbanner1_link != '' %}
                    <a href="{{ this.config.JThemesStudio.The80sMod.type2_bottom_hbanner1_link }}">
                    {% endif %}
                        {{ this.config.JThemesStudio.The80sMod.type2_bottom_hbanner1_text_link }}
                    {% if this.config.JThemesStudio.The80sMod.type2_bottom_hbanner1_link != '' %}
                    </a>
                    {% endif %}
                </h2>
                {% endif %}

                {% if this.config.JThemesStudio.The80sMod.type2_bottom_hbanner1_text != '' %}
                <p>{{ this.config.JThemesStudio.The80sMod.type2_bottom_hbanner1_text }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
