<div class="menu-banners">
    {{ widget_list('welcome.menu.bar.block') }}
    <div class="container">
        <div class="row">
            {{ widget_list('welcome.menu.banners.block') }}
        </div>
    </div>
</div>