<div class="home-text-banner pagination-rotator" {% if this.config.JThemesStudio.The80sMod.type1_welcome_carousel_bg != '' %} style="background-image: url({{ this.config.JThemesStudio.The80sMod.type1_welcome_carousel_bg }});" {% endif %}>
    <div class="container">
        <div class="text-slider">
            {{ this.config.JThemesStudio.The80sMod.type1_welcome_carousel_code|raw }}
        </div>
    </div>
</div>