<div class="subscribe-block">
    <div class="container">
        <div class="row">
            <div class="subs-banner-column">
                {{ widget_list('subscribe.banners') }}
            </div>

            <div class="subs-banner-column subs-block">
                {{ widget_list('welcome.subscribe.info') }}
            </div>
        </div>
    </div>
</div>