<div class="bottom-banners clearfix" {% if this.config.JThemesStudio.The80sMod.type1_bottom_big_banner_image != '' %} style="background-image: url({{ this.config.JThemesStudio.The80sMod.type1_bottom_big_banner_image }});" {% endif %}">
    {{ widget_list('welcome.bottom.banners') }}
</div>


