{##
 # Header
 #
 # @ListChild (list="welcome.bottom.banners", weight="400")
 #}


{% if this.config.JThemesStudio.The80sMod.type1_bottom_big_banner4_link != '' %}
<a href="{{ this.config.JThemesStudio.The80sMod.type1_bottom_big_banner4_link }}">
    {% else %}
    <span>
{% endif %}

        <span class="h2"> {{ this.config.JThemesStudio.The80sMod.type1_bottom_big_banner4_text1 }} </span>
    <span class="text">{{ this.config.JThemesStudio.The80sMod.type1_bottom_big_banner4_text2 }}</span>

        {% if this.config.JThemesStudio.The80sMod.type1_bottom_big_banner4_link != '' %}
</a>
{% else %}
    </span>
{% endif %}

{#<a href="#">#}
    {#<span class="h2"> 04 </span>#}
    {#<span class="text"> shoes & bags </span>#}
{#</a>#}

