{##
 # Header
 #
 # @ListChild (list="welcome.bottom.banners", weight="300")
 #}


{% if this.config.JThemesStudio.The80sMod.type1_bottom_big_banner3_link != '' %}
<a href="{{ this.config.JThemesStudio.The80sMod.type1_bottom_big_banner3_link }}">
{% else %}
<span>
{% endif %}

    <span class="h2"> {{ this.config.JThemesStudio.The80sMod.type1_bottom_big_banner3_text1 }} </span>
    <span class="text">{{ this.config.JThemesStudio.The80sMod.type1_bottom_big_banner3_text2 }}</span>

{% if this.config.JThemesStudio.The80sMod.type1_bottom_big_banner3_link != '' %}
</a>
{% else %}
</span>
{% endif %}


{#<a href="#">#}
    {#<span class="h2"> 03 </span>#}
    {#<span class="text"> premium pack </span>#}
{#</a>#}

